@font-face{font-family: 'GoodDogRegular';
	src:url('GoodDog-webfont.eot');
	src:url('GoodDog-webfont.eot?#iefix') format('embedded-opentype'),
		url('GoodDog-webfont.woff') format('woff'),
		url('GoodDog-webfont.ttf') format('truetype'),
		url('GoodDog-webfont.svg#GoodDogRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
ul.menu	{width:210px;background:url(bg.jpg) no-repeat;padding:10px 22px;font-family:GoodDogRegular, Georgia, "Times New Roman", Times, serif;}
ul.menu li	{color:#47170b;font-size:40px;list-style:none;padding:12px 0 12px 85px;margin:14px 0;background:url(sprite.png) no-repeat}
ul.menu li#cakes	{background-position:0 0}
ul.menu li#donuts	{background-position:0 -64px}
ul.menu li#rolls	{background-position:0 -128px}
ul.menu li#pies	{background-position:0 -196px}