
@import url(http://fonts.googleapis.com/css?family=Raleway:100);

body {
	font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #f2f3f4;
}
li abbr {
    color: #0000FF;
}
li i {
    color: #800080;
}
td a {
    font-weight: bold;
}
li b {
    color: #FF0000;
}
.azul {
    font-style: italic;
}
td p { color: #095c05;
    
}
td > abbr { 
    color: #0000FF;
}

h1 {
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Raleway', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
	font-size: 3em;
	line-height: 1em;
}

h1 span {
	font-size: 0.5em;
	line-height: 1em;
}

a {
	cursor: pointer;
	color: #3174c7;
	text-decoration: none;
}

p > a:hover {
	text-decoration: underline;
}