th {display: table-cell;vertical-align: inherit;font-weight: bold;text-align: center;}
img {width:20%;}
body {background-color:#f2f3f4;font-size:10pt;text-align:left;font-family:sans-serif;}
.toggle-vis {
    background-color: white;
    border: 2px solid #4CAF50;
    color: black;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.toggle-vis:hover {
    background-color: #4CAF50;
    color: white;
  }