th{display:table-cell;vertical-align:inherit;font-weight:bold;text-align:center;}
body{background-color:#f2f3f4;font-size:13pt;text-align:left;font-family:sans-serif;}
.f > a{color:#0123CE;font-weight:bold;font-family:"Palatino Linotype",Palatino,Palladio,"URW Palladio L","Book Antiqua",Baskerville,"Bookman Old Style","Bitstream Charter","Nimbus Roman No9 L",Garamond,"Apple Garamond","ITC Garamond Narrow","New Century Schoolbook","Century Schoolbook","Century Schoolbook L",Georgia, serif;}
.f{font-size:1.4em!important;}
.rojo{color:red;}